<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="gestionEasyApp.client.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.matricule">Matricule</span></dt>
        <dd>
          <span>{{ client.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.nom">Nom</span></dt>
        <dd>
          <span>{{ client.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.prenom">Prenom</span></dt>
        <dd>
          <span>{{ client.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.email">Email</span></dt>
        <dd>
          <span>{{ client.email }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.adresse">Adresse</span></dt>
        <dd>
          <span>{{ client.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ client.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.client.image">Image</span></dt>
        <dd>
          <div *ngIf="client.image">
            <a (click)="openFile(client.image, client.imageContentType)">
              <img [src]="'data:' + client.imageContentType + ';base64,' + client.image" style="max-width: 100%" alt="client image" />
            </a>
            {{ client.imageContentType }}, {{ byteSize(client.image) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
