<div>
  <h2 id="page-heading" data-cy="ImputationHeading">
    <span jhiTranslate="gestionEasyApp.imputation.home.title">Imputations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionEasyApp.imputation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-imputation"
        [routerLink]="['/imputation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionEasyApp.imputation.home.createLabel"> Create a new Imputation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="imputations?.length === 0">
    <span jhiTranslate="gestionEasyApp.imputation.home.notFound">No imputations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="imputations && imputations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="gestionEasyApp.imputation.id">Id</span></th>
          <th scope="col"><span jhiTranslate="gestionEasyApp.imputation.date">Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let imputation of imputations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/imputation', imputation.id, 'view']">{{ imputation.id }}</a>
          </td>
          <td>{{ imputation.date | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/imputation', imputation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/imputation', imputation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(imputation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
