<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="gestionEasyApp.employee.detail.title">Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gestionEasyApp.employee.id">Id</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.matricule">Matricule</span></dt>
        <dd>
          <span>{{ employee.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.fonction">Fonction</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionEasyApp.Fonction.' + employee.fonction }}">{{ employee.fonction }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.nom">Nom</span></dt>
        <dd>
          <span>{{ employee.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.prenom">Prenom</span></dt>
        <dd>
          <span>{{ employee.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.email">Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ employee.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.dateEmbauche">Date Embauche</span></dt>
        <dd>
          <span>{{ employee.dateEmbauche | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.salaire">Salaire</span></dt>
        <dd>
          <span>{{ employee.salaire }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.commissionPct">Commission Pct</span></dt>
        <dd>
          <span>{{ employee.commissionPct }}</span>
        </dd>
        <dt><span jhiTranslate="gestionEasyApp.employee.manager">Manager</span></dt>
        <dd>
          <div *ngIf="employee.manager">
            <a [routerLink]="['/employee', employee.manager?.id, 'view']">{{ employee.manager?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
