<div>
  <h2 id="page-heading" data-cy="VendeurHeading">
    <span jhiTranslate="gestionEasyApp.vendeur.home.title">Vendeurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionEasyApp.vendeur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vendeur"
        [routerLink]="['/vendeur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionEasyApp.vendeur.home.createLabel"> Create a new Vendeur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vendeurs?.length === 0">
    <span jhiTranslate="gestionEasyApp.vendeur.home.notFound">No vendeurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vendeurs && vendeurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="matricule">
            <span jhiTranslate="gestionEasyApp.vendeur.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="gestionEasyApp.vendeur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="gestionEasyApp.vendeur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="gestionEasyApp.vendeur.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="gestionEasyApp.vendeur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="gestionEasyApp.vendeur.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salaire">
            <span jhiTranslate="gestionEasyApp.vendeur.salaire">Salaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="gestionEasyApp.vendeur.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let vendeur of vendeurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vendeur', vendeur.id, 'view']">{{ vendeur.id }}</a>
          </td>
          <td>{{ vendeur.matricule }}</td>
          <td>{{ vendeur.nom }}</td>
          <td>{{ vendeur.prenom }}</td>
          <td>{{ vendeur.email }}</td>
          <td>{{ vendeur.adresse }}</td>
          <td>{{ vendeur.phoneNumber }}</td>
          <td>{{ vendeur.salaire }}</td>
          <td>
            <a *ngIf="vendeur.image" (click)="openFile(vendeur.image, vendeur.imageContentType)">
              <img [src]="'data:' + vendeur.imageContentType + ';base64,' + vendeur.image" style="max-height: 30px" alt="vendeur image" />
            </a>
            <span *ngIf="vendeur.image">{{ vendeur.imageContentType }}, {{ byteSize(vendeur.image) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vendeur', vendeur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vendeur', vendeur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vendeur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
