<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sortie-heading" data-cy="SortieCreateUpdateHeading" jhiTranslate="gestionEasyApp.sortie.home.createOrEditLabel">
        Create or edit a Sortie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionEasyApp.sortie.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionEasyApp.sortie.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionEasyApp.sortie.camion" for="field_camion">Camion</label>
          <select class="form-control" id="field_camion" data-cy="camion" name="camion" formControlName="camion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="camionOption.id === editForm.get('camion')!.value?.id ? editForm.get('camion')!.value : camionOption"
              *ngFor="let camionOption of camionsSharedCollection; trackBy: trackCamionById"
            >
              {{ camionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
